fpm -s dir -t deb -n edx-xqueue -v 1.0 -a native  \
  {% for exclude in create_pkg_excludes -%}
  --exclude {{ exclude }} \
  {% endfor -%}
  {% for pkg in xqueue_debian_pkgs -%}
  -d {{ pkg }} \
  {% endfor -%}
  --config-files {{ xqueue_app_dir }}/xqueue.env.json    \
  --config-files {{ xqueue_app_dir }}/xqueue.auth.json   \
  {{ xqueue_app_dir }} \
  {{ xqueue_data_dir }}
